<div class="listsquares">
    $squareselems
</div>
<style>
    .listsquares {
        display: flex;
        flex-flow: column;
        gap: 0px;
        width: min(600px, 80vw);
    }

    .listsquare {
        --height: $squarewidthpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;
        cursor: pointer;
        height: var(--height);
        border-top: 1px solid black;
    }

    .listsquare .icon img {
        width: $squarewidthpx;
        border: solid 1px black;
    }

    .listsquare .icon {
        display: flex;
        font-size: calc($squarewidthpx * 0.8);
    }

    .listsquare .itemname {
        text-align: center;
    }

    .itemname {
        text-overflow: ellipsis;
        max-width: var(--width);
        overflow: hidden;
        max-height: 1.5em;
    }

    .listsquare .datetext {
        color: rgb(191, 191, 191)
    }

    .listitembutton {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 5px;
    }
</style>