<div class="audiotrack ITEM" x-trackurl="$trackurl" x-trackindex="$trackindex" onclick="playme($trackindex)">
    <div class="buggon">
        <span class="tracknotplayingicon">▶︎</span>
        <span class="trackplayingicon">🔊</span>
        <span class="trackplayinghover">⏸</span>
        <span class="trackpausedhover">▶︎</span>
        <span class="trackpausedicon">__</span>
        <!-- ၊၊||၊ -->
         <!-- ... -->
    </div>
    <div class="albumtrackname">$trackname</div>
    <div class="albumtrackspace"></div>
    <div class="albumtrackduration">$trackduration</div>
</div>