<!DOCTYPE html>
<link href="style.css" rel="stylesheet">
<html>
<head>
    <!-- <link rel="preload" href="$previmageasseturl" as="image">
    <link rel="preload" href="$nextimageasseturl" as="image"> -->

</head>
<body>
    <div class="page">
        <!-- <div class="thing top">
            <a href="..">
                <div class="backarrow">
                    < folder</div>
            </a>
            <div class="space"></div>
            <div class="mediatitle">$filename</div>
            <div class="space"></div>
            <div class="space"></div>

        </div> -->
        <div class="thing middle">
            <!-- <a href="$prevurl">
                <div class="arrow prevarrow">
                    < </div>
            </a> -->
            <div class="media">


                $mediaelement


            </div>
            <!-- <a href="$nexturl">
                <div class="arrow nextarrow">></div>
            </a> -->

        </div>
        <div class="thing bottom" style="display: none;">
            <a href="$asseturl" download class="easybutton dlbutton"><img height=20
                    src="$webprefix/engineassets/images/download-button.svg" /></a>
        </div>
    </div>
</body>

</html>