<div class="pagetrix-persist" id="audioplayerwidget">
    <div class="controls paused">
        <div class="gobutton" onclick="audioplayer.toggle()">
            <span class="playerplayingbuttonicon">||</span>
            <span class="playerpausedbuttonicon">▶</span>

        </div>
        <div class="scrubber">
            <input type="range" min="0" max="1000" value="0" class="audioprogress"
                onchange="audioplayer.seektopercent(document.querySelector('.audioprogress').value/1000)">
            <!-- <div class="circle">
                    <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg">
                        <circle r="5" cx="5" cy="5" fill="black" />
                    </svg>
                </div>-->
            <div class="line"></div>
        </div>
        <div class="time">
            <span class="playercurrentime">2:04</span>/<span class="playerduration">3:43</span>
        </div>
    </div>

    <style>
        #audioplayerwidget {
            z-index: 10;
        }

        .controls.playing, body:has(.player) .controls, .controls.showme{
            display: flex;
        }
        .controls{
            display: none;
        }

        .controls,
        .controls * {
            align-items: stretch;
            /* font-family: Sn-pro; */
            gap: 10px;
            font-size: 16px;
        }
        .controls * {
            display: flex;
        }

        .controls {
            flex-flow: row;
            outline: solid black 2px;
            padding: 13px;
            position: fixed;
            bottom: 10px;
            width: calc(var(--width) - 13px * 2);
            background-color: white;
        }

        body {
            margin-bottom: 80px;
        }

        .scrubber {
            flex-grow: 1;
            position: relative;
            align-items: center;
            flex-flow: row;
        }

        .controls * {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
        }

        .gobutton {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }

        .playerpausedbuttonicon,
        .playerplayingbuttonicon {
            display: none;
        }

        .controls.playing .playerplayingbuttonicon {
            display: inline-block;
        }

        /* todo rename .controls to .player */

        .controls.paused .playerpausedbuttonicon {
            display: inline-block;
        }

        .scrubber .audioprogress {
            width: 100%;

            background: none;
            color: black;
            appearance: none;
            height: 100%;
            cursor: pointer;
            border-radius: 10px;
        }

        .audioprogress::-webkit-slider-thumb,
        .audioprogress::-moz-range-thumb {
            -webkit-appearance: none;
            background: white;
            border: solid 2px black;
            --diameter: 12px;
            height: var(--diameter);
            width: var(--diameter);
        }

        .scrubber>.circle {
            position: absolute;
        }

        .scrubber>.line {
            width: 100%;
            position: absolute;
            height: 2px;
            background-color: black;
            z-index: -10;
        }

        .controls .time {
            gap: 5px;
        }




        input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: transparent;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: transparent;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  /* Left = Blue | Right = Black */
  background: linear-gradient(to right, rgb(0, 133, 173) 0%, rgb(0, 133, 173) var(--progress, 0%), #000 var(--progress, 0%), #000 100%);
  border-radius: 2px;
}

/* Firefox Track Logic */
input[type="range"]::-moz-range-progress {
  background-color: rgb(0, 133, 173); /* Blue on left */
  height: 2px;
}

input[type="range"]::-moz-range-track {
  background-color: #000; /* Black on right */
  height: 2px;
}

/* --- THE BLACK CIRCLE (THUMB) --- */

/* Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #000; /* Set circle to black */
  margin-top: -7px; /* Centers 16px thumb on 2px track */
  border: none;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #000; /* Set circle to black */
  border: none;
}
    </style>

<script>const slider = document.querySelector('input[type="range"]');

// 1. The core function that handles the visual "fill"
function updateSliderVisuals() {
  const min = slider.min || 0;
  const max = slider.max || 100;
  const value = slider.value;
  
  const percentage = (value - min) * 100 / (max - min);
  slider.style.setProperty('--progress', percentage + '%');
}

// 2. Listen for manual user interaction (dragging/clicking)
slider.addEventListener('input', updateSliderVisuals);

// 3. How to update it via CODE
function updateSliderByCode(newValue) {
  slider.value = newValue;   // Sets the physical position
  updateSliderVisuals();     // Sets the blue/black colors
}

// Initial call to set the color on page load
updateSliderVisuals();

// --- EXAMPLE USAGE ---
// Instead of just doing: slider.value = 80;
// Do this:
</script>
</div>